    {%extends 'base.html'%}

	{%block linkjs%}
	<script type="text/javascript" src="/static/js/sha1.js"></script>
	{%endblock linkjs%}

	{%block body%}
	<div class="login_top clearfix">
		<a href="/" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="/user/loging/" class="login_form1">
						{% csrf_token %}
						<input type="text" name="username" value="{{user_name}}" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" value="{{pass_word}}" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remeber" id="aa" value="1">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function () {

		    var name_ok = false
			var pwd_ok = false

		    $('.name_input').blur(function () {
				check_user_name()
            });

			$('.pass_input').blur(function () {
			    check_pwd();
				//$(this).val(SHA2($(this).val()));
			});

			$('.login_form1').submit(function () {
				check_user_name();
				check_pwd();
				console.log(name_ok)
				console.log(pwd_ok)
				return name_ok&&pwd_ok
            });

			function check_user_name(){
				var len = $('.name_input').val().length;
				if(len<5||len>20){
					$('.user_error').html('请输入5-20个字符的用户名').show();
				}else {
				    name_ok = true;
				    $('.user_error').hide();
				}
			}
			function check_pwd(){
				var len = $('.pass_input').val().length;
				if(len<6||len>20){
					$('.pwd_error').html('密码最少6位，最长20位').show();
				}else {
				    pwd_ok = true;
				    $('.pwd_error').hide();
				}
			}


			if('{{upwd_err}}'=='1'){
			    $('.pwd_error').html('密码错误').show()
			}
			if("{{uname_err}}"=='1'){
			    $('.user_error').html('用户名错误').show()
			}

        })
	</script>

	{%endblock body%}


	
