    {%extends 'base.html'%}

	{%block body%}
    {%include 'userInfo/user_head.html'%}
	<div class="main_con clearfix">

		{%include 'userInfo/user_left.html'%}

		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{user.user_name}}</li>
							<li><span>邮箱：</span>{{user.emails}}</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                        {%for good in newgoods%}
						<li>
							<a href="/goods/detail/?id={{good.id}}"><img src="/static/{{good.gimg}}"></a>
							<h4><a href="/goods/detail/?id={{good.id}}">{{good.gname}}</a></h4>
							<div class="operate">
								<span class="prize">￥{{good.gpric}}</span>
								<span class="unit">{{good.gpric}}/{{good.gmete}}</span>
								<a href="#" class="add_goods" title="加入购物车"></a>
							</div>
						</li>
                        {%endfor%}
					</ul>
		</div>
		</div>
	</div>


	<script>
		$(function () {
//			$.get('/user/info/',function (data) {
//				console.log(data)
//            })
        })
	</script>



	{%endblock body%}
