    {%extends 'base.html'%}

	{%block body%}
    {%include 'userInfo/user_head.html'%}

	<div class="main_con clearfix">

        {%include 'userInfo/user_left.html'%}

		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
			    {%for order in orders%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.set_time}}</li>
					<li class="col02">订单号：{{order.order_id}}</li>
					{%if order.order_state%}
					<li class="col02 stress">已支付</li>
					{%else%}
					<li class="col02 stress">未支付</li>
					{%endif%}
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								{%for gorder in order.orderdetail_set.all%}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{gorder.goods.gimg}}"></li>
									<li class="col02">{{gorder.goods.gname|truncatechars:15}}<em>{{gorder.pric}}元/{{gorder.goods.gmete}}</em></li>
									<li class="col03">{{gorder.cont}}</li>
									<li class="col04">11.80元</li>	
								</ul>
								{%endfor%}

							</td>
							<td width="15%">{{order.total}}元</td>
							{%if order.order_state%}
							{%else%}
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							{%endif%}
						</tr>
					</tbody>
				</table>
				{%endfor%}


				<div class="pagenation">
					{%if orders.has_previous%}
					<a href="/user/order/?page={{orders.number|add:-1}}"><上一页</a>
					{%endif%}
					{%for pindex in orders.paginator.page_range%}
						{%if pindex == goods_info.number%}
							<a href="#" class="active">{{pindex}}</a>
						{%else%}
							<a href="/user/order/?page={{pindex}}" >{{pindex}}</a>
						{%endif%}
					{%endfor%}
					{%if goods_info.has_next%}
					<a href="/user/order/?page={{orders.number|add:1}}">下一页></a>
					{%endif%}
				</div>
		</div>
	</div>


	{%endblock body%}