    {%extends 'base.html'%}

    {%block body%}
	{%include 'userInfo/user_head.html'%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list/?id=1" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list/?id=2" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list/?id=3" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list/?id=4" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list/?id=5" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list/?id=6" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="/goods/list/?id={{goods.gtype.id}}">{{goods.gtype.tname}}</a>
		<span>></span>
		<a href="#">{{title}}</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goods.gimg}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gname}}</h3>
			<p>{{goods.gsubtitle|truncatechars:60}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gpric}}</em></span>
				<span class="show_unit">单  位：{{goods.gmete}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em id="allpric">16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:cartAdd({{goods.id}});" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for tgoods in tgoods%}
					<li>
						<a href="#"><img src="/static/{{tgoods.gimg}}"></a>
						<h4><a href="/goods/detail/?id={{tgoods.id}}">{{tgoods.gname}}</a></h4>
						<div class="prize">￥{{tgoods.gpric}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl id="goodslr">
					<dt>商品详情：</dt>
					<dd > {{goods.gcount|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>


	<div class="add_jump"></div>

	<script type="text/javascript">

		//
		var conut = $('.num_show').val();
		var pric = {{goods.gpric}}
		$('.num_show').blur(function () {
		    conut = $('.num_show').val();
			$('#allpric').html(Math.round(conut*pric*100)/100+'元')
        })

		$('.add').on('click',function () {
			conut++;
			$('.num_show').val(conut)
			$('#allpric').html(Math.round(conut*pric*100)/100+'元')
        });
		$('.minus').on('click',function () {
		    if(conut>0){
		        conut--;
				$('.num_show').val(conut)
				$('#allpric').html(Math.round(conut*pric*100)/100+'元')
			}
        });
        $('#allpric').html(Math.round(conut*pric*100)/100+'元')



		function add() {
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;

			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});
			});
		}
		function cartAdd(gid){
		    // 判断是非登录
			$.get('/user/islogin/',function (data) {
				if(data.data){
					$.get('/car/add/',{'id':gid,'cont':conut},function (data) {
						if(data.isadd){
							add()
							location.href = '/car/info/'
						}else{
							// 保存失败
							alert('保存失败')
						}
					})
				}else{
					location.href = '/user/login/'
				}
			})
		}





	</script>
	
    {%endblock body%}