    {%extends 'base.html'%}

	{%block body%}
    {%include 'userInfo/user_head.html'%}

	<div class="total_count">全部商品<em>{{ucart|length}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{%for cart in ucart%}
	<ul class="cart_list_td clearfix" data-gid="{{cart.goods.id}}">
		<li class="col01"><input class="gchecked" type="checkbox" checked="checked"></li>
		<li class="col02"><img src="/static/{{cart.goods.gimg}}"></li>
		<li class="col03">{{cart.goods.gname}}<br><em>{{cart.goods.gpric}}元/{{cart.goods.gmete}}</em></li>
		<li class="col04">{{cart.goods.gmete}}</li>
		<li class="col05">{{cart.goods.gpric}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{cart.cont}}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07"></li>
		<li class="col08"><a href="javascript:del({{cart.goods.id}});">删除</a></li>
	</ul>
	{%endfor%}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" id="checked_all" checked="checked"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="allpric">42.60</em><br>共计<b id="num_all"></b>件商品</li>
		<li class="col04"><a href="javascript:;">去结算</a></li>
	</ul>
	<script>
		$(function () {
		    var alGoodsPric = 0;
		    $('.cart_list_td').each(function () {
				var conut = $(this).find('.num_show').val();
				var pric = $(this).find('.col05').html().replace(/元/,'');
				var _this = $(this);

				$(this).find('.num_show').blur(function () {
					conut = _this.find('.num_show').val();
					_this.find('.col07').html(Math.round(conut*pric*100)/100+'元');
					pricall()
				});
				$(this).find('.add').on('click',function () {
					conut++;
					_this.find('.num_show').val(conut);
					_this.find('.col07').html(Math.round(conut*pric*100)/100+'元');
					pricall()
				});
				$(this).find('.minus').on('click',function () {
					if(conut>0){
						conut--;
						_this.find('.num_show').val(conut);
						_this.find('.col07').html(Math.round(conut*pric*100)/100+'元');
						pricall()
					}
				});

				var tatla = Math.round(conut*pric*100)/100;
				$(this).find('.col07').html(tatla+'元');
				alGoodsPric += tatla;
            });
            $('#allpric').html(Math.round(alGoodsPric*100)/100);
            $('#num_all').html($(":checked:not('#checked_all')").length);

            function pricall() {
                 alGoodsPric = 0; // 至0
                 $('.cart_list_td').each(function () {
                     if($(this).find(":checked").val()){
                         var conut = $(this).find('.num_show').val();
						 var pric = $(this).find('.col05').html().replace(/元/, '');
						 var tatla = Math.round(conut*pric*100)/100;
						 alGoodsPric += tatla;
					 }
                 });
				$('#allpric').html(Math.round(alGoodsPric*100)/100);
				$('#num_all').html($(":checked:not('#checked_all')").length);
            }
            // 勾选与否界面改变
			$(":checked").each(function () {
				$(this).change(function () {
					pricall()
                })
            });
            $('#checked_all').change(function () {
				$(".gchecked").each(function () {
					if($(this).prop("checked")){
					    $(this).prop("checked",false);
					}else {
					    $(this).prop("checked",true);
					}
				});
				pricall()
            })

            // 和后台同步修改数量
            $('.col04').on('click',function () {
		        var infos = [];
				//获取每个商品的id和个数
				$('.cart_list_td').each(function () {
				    var gid = $(this).data('gid');
				    var cont = $(this).find('.num_show').val();
				    var info = {'id':gid,'cont':cont};
				    if($(this).find(":checked").val()) {
                        infos.push(info)
                    }
				});
				$.get('/car/change/',{'infos':JSON.stringify(infos)},function (data) {
				    console.log(data.ischange)
                    if(data.ischange){
                        location.href = '/car/place/'
					}
                })
            });
        });
		// 删除
		function del(gid){
			$.get('/car/del/',{'id':gid},function (data) {
				if(data.isdel){
					location.reload();  // 刷新页面
				}else{
				    alert('系统繁忙请重试')
				}
			})
		}
	</script>
    {%endblock body%}
